.links-redirecionamento{
    display: block;
    position: relative;
    left: 20%;
}

.links-redirecionamento a{
    background-color: transparent!important;
    text-decoration:underline!important;
}

.login-form{
    height: 25rem;
}