.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-button {
    padding: 0.8rem 2rem;
    color: rgba(88, 91, 96, 1);
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

.filter-button:hover {
    background-color: #f7f7f7;
}

.filter-button:active {
    background-color: #ebebeb;
    box-shadow: none;
    transform: translateY(2px);
}
  
.status-circle {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.4rem;
    vertical-align: middle;
}

.status-approved .status-circle {
    background-color: rgba(56, 160, 108, 1);
}

.status-approved {
    background: rgba(225, 252, 239, 1);
    padding: 0.4rem;
    border-radius: 0.4rem;
    color: rgba(20, 128, 74, 1);
    font-weight: bold;
}

.status-pending .status-circle {
    background-color: rgba(221, 146, 60, 1);
}

.status-pending {
    background: rgba(252, 242, 230, 1);
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: rgba(170, 91, 0, 1);
    font-weight: bold;
}

.status-rejected .status-circle {
    background-color: rgba(239, 84, 102, 1);
}

.status-rejected {
    background: rgba(255, 237, 239, 1);
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: rgba(209, 41, 61, 1);
    font-weight: bold;
}

.modal{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 25rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
}

.modal footer{
    text-align: center;
}

.modal-content {
  background-color: #4BAF75;
  color: white;
  margin: auto;
  padding: 0.8rem;
  border-radius: 8px; 
  width: 15rem;
  text-align: center;
}

.filter-container {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 12.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 11rem;
  border-radius: 8px; 
  top : 5rem;
}

.filter-options {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 12.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 8px; 
  right: -3.5rem;
  padding: 0.8rem;
  top : 5rem;
}

.dropdown-item {
  color: black;
  padding: 1rem 1.2rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.filter-options div {
  margin-top: 0.4rem;
}

