@{
    ViewData["Title"] = "Página inicial";
}


<div class="intro">
    <h3>O que é o StudyLab?</h3>
    <p class="mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    <a href="#" class="mt-5 btn-queroconhecer">Quero conhecer</a>
</div>

<div class="container container-vantagens">
    <div class="cards-geral">
        <div class="cards-pt1">
            <div class="card1">
                <img src="" alt=""><p>img</p>
                <h5>Nome da vantagem 1</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card2">
                <img src="" alt=""><p>img</p>
                <h5>Nome da vantagem 2</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="cards-pt2">
            <div class="card3">
                <img src="" alt=""><p>img</p>
                <h5>Nome da vantagem 3</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card4">
                <img src="" alt=""><p>img</p>
                <h5>Nome da vantagem</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>

    <div class="img-cumputer">
        <img src="~/img/imgpc.svg" width="110%" alt="">
    </div>


</div>

<div class="estudantes container">
    <div class="row">
        <div class="col-6 frase">
            <h1>Feito por estudantes <br> para estudantes</h1>
        </div>

        <div class="col-6 img-estudantes">
           
        </div>
    </div>
</div>
