@model LoginViewModel

<h4>Login</h4>
<hr />
<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-denger"></div>
    <input type="hidden" asp-form="ReturnUrl" />
    <div>
        <label asp-for="Email">E-mail</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password">Senha</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Log in" />
</form>