.modal{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 25rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
}

.modal footer{
    text-align: center;
} 

.modal-content {
  background-color: #4BAF75;
  color: white;
  margin: auto;
  padding: 0.8rem;
  border-radius: 8px; 
  width: 20rem;
  text-align: center;
}

#modalConfirmacaoBanir .modal-content{
    width: 20rem;
}