ASPNETCORE_ENVIRONMENT=Production
POSTGRES_CONNECTION_STRING=User ID=admin;Password=admin;Host=study-db;Port=5432;Database=study;
JWT_KEY=4102b844edd0474bb0038057956e393d55672d4da5844ece125d43a73250900b
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=email
SMTP_PASSWORD=password
PASSWORD_SALT=e47204df44254059b86dd41b5ba9eceae0